<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toshiba.lifetools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="LifeTools"
        android:theme="@style/Theme.LifeTools">

        <!-- Declarar a EuromillionsActivity -->
        <activity android:name="com.toshiba.lifetools.EuromillionsActivity">
            <!-- Outras configurações da activity -->
        </activity>

        <!-- MainActivity, que é a principal da aplicação -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declarar a MatriculaActivity -->
        <activity
            android:name=".MatriculaActivity"
            android:exported="false" />

        <!-- Outras activities -->
        <activity
            android:name=".OtherToolActivity"
            android:exported="false" />

    </application>

</manifest>

