<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toshiba.lifetools">

    <application
        android:allowBackup="true"
        android:label="LifeTools"
        android:theme="@style/Theme.LifeTools">

    <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EuromillionsActivity"
            android:exported="false" />

        <activity
            android:name=".OtherToolActivity"
            android:exported="false" />
    </application>
</manifest>
